/* Fonts */

@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/architectsdaughter/v11/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_QiYsKILxRpg3hIP6sJ7fM7PqlONvUlMI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Urbanist';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v1/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA133VamoY8A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v1/L0x-DF02iFML4hGCyMqlbS0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v1/L0x-DF02iFML4hGCyMqlbS0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: whitesmoke;
    font-family: Urbanist;
}

body {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px 0;
    background-color: #e76f51ff;
}

header h1 {
    margin-top: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

section {
    width: 80%;
    padding: 10px 20px;
    margin: 0 auto 20px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #e1e2e1;
}

section h1 {
    margin: 0 0 10px;
    text-align: left;
    font-size: 30px;
    font-weight: 800;
}

.palette {
    text-align: center;
}

.swatch {
    display: inline-block;
    width: 15%;
    min-height: 80px;
    margin: 0 10px;
    border: 2px solid gray;
    border-radius: 5px;
    vertical-align: top;
    text-align: center;
}

.hexcolour {
    font-family: 'Source Code Pro';
}

#charcoal {
    /* charcoal */
    background-color: #264653ff;
}

#persiangreen {
    /* persian-green */
    background-color: #2a9d8fff;
}

#orangeyellow {
    /* orange-yellow-crayola */
    background-color: #e9c46aff;
}

#sandybrown {
    /* sandy-brown */
    background-color: #f4a261ff;
}

#burntsienna {
    /* burnt-sienna */
    background-color: #e76f51ff;
}

.sample {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 0 2%;
}

.sample h2 {
    text-align: left;
    text-decoration: underline;
    font-weight: 800;
}

.sample p {
    text-align: left;
}

.normal {
    font-weight: 400;
}

.strong {
    font-weight: 500;
}

.verystrong {
    font-weight: 800;
}

.emphasis {
    font-style: italic;
}

.architects {
    font-family: 'Architects Daughter';
}

.monserrat {
    font-family: Montserrat;
}

.code {
    font-family: 'Source Code Pro';
}

.urbanist {
    font-family: 'Urbanist';
}

li {
    font-family: "Architects Daughter";
}

.page-heading {
    font-size: 40px;
    font-weight: 800;
}

.section-heading {
    font-size: 30px;
    font-weight: 800;
}

.section-sub-heading {
    font-size: 24px;
    font-weight: 800;
}

.normal-text {
    font-family: "Architects Daughter";
    font-size: 16px;
    font-weight: 400px;
}
